// SELECT 2
.select2.select2-container {
    width: 100% !important;
    transition: all 0.3s linear;
  }
  
  .select2.select2-container:hover {
    // border: 1px solid $foreign;
    border-radius: 0.5rem;
  
  }
  
  .select2.select2-container .select2-selection {
    height: auto;
    
    outline: none !important;
    transition: all 0.3s ease-in-out;
  
  }
  // 
  .select2.select2-container .select2-selection .select2-selection__rendered {
    line-height: 32px;
    padding: 0.2rem 2rem;
    @include xxs {
      font-size: 1.2rem;
      padding: 0.8rem 1.2rem;
    }
  }
  
  .select2.select2-container .select2-selection .select2-selection__arrow {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 33px;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 1px solid $primary;
  }
  
  .select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
  }
  
  .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    display: none;
  }
  
  .select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0.8rem 1.5rem;
    line-height: 29px;
    
  }
  
  .select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
  }
  
  .select2-container .select2-dropdown .select2-search {
    display: none;
  }
  
  .select2-container .select2-dropdown .select2-results {
    padding: 0;
  }
  
  .select2-container .select2-dropdown .select2-results ul {
    background: #fff;
    border: 1px solid #34495e;
  }
  
  .select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $sub-text;
    
  }
  .select2.select2-container .select2-selection .select2-selection__arrow {
    background-image: url(../img/icon-chevdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 2.4rem;
    height: 2.4rem;
    @include xxs {
      width: 1.6rem;
      height: 1.6rem;
    }
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
  }


  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
  }

  .select2.select2-container .select2-selection:hover {
    border: 1px solid $foreign;
  }
