// CSS HOMEPAGE
.schero {
  height: 100vh;
  margin: {
    left: auto;
    right: auto;
  }
}


.popup {
  width: 100%;
  height: 100%;
  margin: auto auto;
}
.regist {
  width: calc(4/12*100%);
  margin: 0 auto;
  padding: 5rem;
  background-color: $white;

  .form-tt {
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: $primary;
    margin-bottom: 3.2rem;
  }
  .form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    label {
      width: 20%;
      font-size: 2rem;
      font-weight: 500;
      color: $body-text;
      margin-right: auto;
    }
    input {
      width: 70%;
      padding: 0.8rem 2rem;
      border: 1px solid $sub-text;
      border-radius: 0.5rem;
      ::placeholder {
        color: $sub-text;
      }
    }
  }
}

.bg-pg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  opacity: 0.5;
  z-index: -1;
}